*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#wrapper
{
    height:100vh;   /*maximuum height of viewport*/
    overflow-x: hidden;    /*to restrict x axis scroll*/
     overflow-y:auto;
     perspective: 10px;
    }
.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    transform-style: preserve-3d; /*to make  3d or to preserve*/
    z-index: -1;
}
.background,.foreground
{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index:-1;
    object-fit: cover;
        /*cover the width*/
}
.background
{
    transform:translateZ(-40px) scale(5);
}
.foreground
{
 transform: translateZ(-20px) scale(3);
}

h1{
    position:absolute;
    top:5rem;
    font-size:10rem;
    color:white;
    letter-spacing: 4px;
    text-shadow:0px 0px 10px rgba(0,0,0,0.3);
}


section{
    background-color:rgb(45,45,45) ;
    color:white;
    padding:5rem 0 ;
}

.secheading
{
font-size:5rem;
padding:0 10rem;
}

.text{ 
       font-size:1.5 rem;
       padding: 0 10rem;
       margin: 3rem 0;
}

.bg{
    position:relative;
    width:100%;
    background-attachment:fixed;   /*image fixed raheti hai aur baaki cheez scroll hoti hai*/
    height: 500px;                    /*relative means origianl position se kaise dekhoge isliye ek baar mein
                                       500 px heiht hi dikh rahi hai aur baaki mein text aa ja raha hai*/


    background-image: centre;
    background-size: cover;   /*cover the image sccording to the given width and height*/

}
.desc
{  
    position:absolute;
    background-color: white;
    padding: 0.5rem 2.5rem;
    top:50%;
    left:50%;
    color:black;
    font-size: 3.5rem;
    transform: translateX(-50%) translateY(-50%);

}

.bg1
{
     background-image:url(cycling.jpg);
}
.bg2
{
     background-image: url(para.jpg);
}
.bg3
{
    background-image: url(surfing.jpg);
}